* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.bodycontainer {
  width: 80%;
  margin: auto;
}
.c01 {
  padding: 5px 15px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
}
.c03 {
  font-size: 30px;
  text-align: center;
  margin-left: 10vw;
  /* position: sticky;
  top: 10px; */
}
.c02 {
  font-size: 14px;
  padding: 8px 18px;
  border: none;
  opacity: 0;
  border-radius: 25px;
  background-color: #0fd7a29b;
  transition: all 0.1s ease-in-out;
  position: sticky;
  margin-left: 87%;
  bottom: 35px;
}
.title_line_through {
  text-decoration: line-through !important;
  text-decoration-color: red !important;
}
.c02:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.c02:active {
  transform: scale(0.95);
}
.c04 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
  border-radius: 10px;
}
.c05 {
  font-size: 16px;
  padding: 5px 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #67b6eb;
  border-right: none;
  background-color: #c1c4c6;
  color: black;
  width: 100%;
  outline: none;
}
.c06 {
  background-color: #e3d888;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #67b6eb;
  border-left: none;
}
.c07 {
  display: flex;
  justify-content: start;
  margin-bottom: 15px;
  /* align-items: center; */
  /* border: 1px solid #7f8385; */
  border-radius: 10px;
  background-color: whitesmoke;
}
.c09 {
  flex: 1;
}
.c08 {
  padding: 3px 10px;
  border: none;
  width: 100%;
  border-radius: 10px;
  background-color: whitesmoke;
  transition: all 0.05s ease-in-out;
}
@media (max-width: 320px) {
  .c02 {
    font-size: 11px;
    padding: 7px 16px;
    margin-right: 17px;
  }
  .c03 {
    font-size: 20px;
    margin-left: 20px;
  }
}
@media (max-width: 375px) and (min-width: 321px) {
  .c02 {
    font-size: 12px;
    padding: 8px 16px;
    margin-right: 20px;
  }
  .c03 {
    font-size: 22px;
    margin-left: 22px;
  }
}
@media (max-width: 425px) and (min-width: 375px) {
  .c02 {
    font-size: 13px;
    padding: 8px 16px;
    margin-right: 25px;
  }
  .c03 {
    font-size: 25px;
    margin-left: 28px;
  }
}
.c08:hover {
  box-shadow: 5px 5px 10px rgb(79, 76, 79);
  transform: scale(1.05);
}
.c10 {
  border: 1px solid rgb(216, 196, 196);
  margin: 5px 10px 5px 10px;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(32, 31, 32), 1px 1px 5px rgb(73, 185, 129);
  max-width: 90%;
  min-width: 90%;
}
.c12 {
  max-width: 100%;
  max-height: 120px;
  overflow: auto;
}
.c13 {
  height: 15px;
  width: 15px;
  background-color: white;
  border: 2px solid red;
  cursor: pointer;
  border-radius: 50%;
}
.completed_btn {
  height: 15px;
  width: 15px;
  background-color: white;
  border: 2px solid green;
  cursor: pointer;
  border-radius: 50%;
}
.c14 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.c11 {
  display: flex;
  justify-content: space-between;
}
.c15 {
  padding-left: 20px;
  font-size: 20px;
  font-weight: 500;
  color: coral;
  text-decoration: underline;
}
.icons {
  gap: 20px;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  transition: opacity 0.3s;
}
.logout-btn {
  background-color: #d0e4df;
  border-radius: 10px;
  border: none;
  padding: 2px;
  transition: all 0.3ms ease-in-out;
  margin-right: 20px;
  cursor: pointer;
  width: 35px;
}
.logout-btn:hover {
  color: white;
  background-color: red;
}
.c10:hover .icons {
  opacity: 1;
  pointer-events: auto;
}
.icon {
  margin-right: 5px;
  background-color: #c7bdbd82;
  border-radius: 10px;
  padding: 2px;
  transition: all ease-in-out;
}
#edit:hover {
  background-color: rgb(39, 181, 39);
  color: white;
}
#archived:hover {
  background-color: #6563e9;
  color: white;
}
#delete:hover {
  background-color: red;
  color: white;
}
.over-layer {
  background-color: rgba(0, 0, 0, 0.598);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.outer-container {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 150;
  width: 50vw;
  height: auto;
  transform: translate(-50%, -50%);
}
.innerContainer {
  background-color: white;
  padding: 20px;
  padding-left: 40px;
  height: 65 vh;
  border-radius: 20px;
}
.add-task-cont {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 150;
  width: 50vw;
  height: 80vh;
  transform: translate(-50%, -50%);
}
.contents {
  background-color: white;
  padding: 20px;
  padding-left: 40px;
  height: 65 vh;
  border-radius: 20px;
}
.titdesc {
  font-size: 20px;
  color: brown;
}
.desc-text {
  padding-left: 10px;
  padding-top: 5px;
  width: 90%;
  resize: none;
  outline: none;
}
.radio-cont {
  width: 90%;
  padding: 10px;
  color: brown;
}
.title-text {
  padding-left: 10px;
  outline: none;
}
.radio-btn {
  color: brown;
  display: flex;
  justify-content: space-evenly;
}
.radio-input {
  margin-right: 4px;
}
.update-form-submit {
  display: flex;
  width: 125px;
  margin-left: 65%;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #82a75a;
  padding: 5px;
  transition: all ease-in-out 0.2ms;
}
.invit_temp {
  width: 90%;
  height: 60vh;
  /* border: 1px solid red; */
}
.image {
  height: 100%;
  width: 80%;
  padding-left: 10%;
}
.form-submit {
  display: flex;
  margin-left: 75%;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #82a75a;
  padding: 5px;
  transition: all ease-in-out 0.2ms;
}
.form-submit:active,
.update-form-submit:active {
  transform: scale(0.95);
}
.heading {
  height: auto;
  color: brown;
  width: 200px;
  margin: 5px 3px 15px 20px;
}
.activeclass {
  background-color: rgba(135, 135, 130, 0.605);
}
