* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main_heading {
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.page_container {
  width: 100%;
  height: 100vh;
  background-color: rgba(88, 198, 163, 0.306);
}
.container {
  border: 1px solid darkgray;
  background-color: darkgray;
  border-radius: 10px;
  width: 40vw;
  margin: 30px auto;
}
.login_heading {
  text-align: center;
  font-size: 25px;
  padding: 10px;
  margin: 10px;
  color: brown;
}
.label {
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
}
.input_field {
  color: brown;
}
.submit_btn {
  font-size: 15px;
  color: brown;
  background-color: #e39b0bca;
  border: 1px solid brown;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  width: 40%;
  margin: 20px;
  margin-bottom: 40px;
  transition: 0.2s ease-in-out;
}
.reset {
  font-size: 15px;
  color: brown;
  background-color: rgba(0, 128, 0, 0.689);
  border: 1px solid brown;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  width: 40%;
  margin: 20px;
  margin-bottom: 40px;
  transition: 0.2s ease-in-out;
}
.reset:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.527);
  transform: scale(1.05);
}
.submit_btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.527);
  transform: scale(1.05);
}
.submit_btn:active {
  transform: scale(0.95);
}
.input {
  border: none;
  padding-left: 5px;
  font-size: 18px;
  border-radius: 5px;
  width: 55%;
  transition: 0.1s ease-in-out;
}
.input:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.527);
  transform: scale(1.05);
}
.input:focus {
  outline: none;
}
